# Environments
.env
.venv/
env/

# Byte-compiled
__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/
.idea/

# Streamlit/OS
.streamlit/
.DS_Store

# Data & outputs
# Removed the exclusions for projects/ to allow syncing to GitHub
